:root{
    --cor-fundo:#363636 ;
    --cor-principal:#9400D3 ;
    --cor-secundaria:#9932CC ;
    --cor-destaque:#8B008B ;
    --cor-texto:#FFFAFA ;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
}